<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <title>footer</title>
</head>

<footer class="baseboard" >
    
    <section>
        <div class="logo-footer">
            <img src="/images/img-footer/logo.png" alt="logo" width="175" height="135">
        </div>    
    </section>

    <section>
        <div class="opening-hours">
            <h3>Horario de Funcionamento</h3>
            <p>Seg a Sex: 08:00 - 18:00</p>
            <p>Sab: 08:00 - 13:00</p>
            <br>
            <h3>Endereço:<h3>
            <p>Av Paulista - 1000 - São Paulo -SP</p>
            <h3>Email:</h3>
            <p>abc@abc.com</p>
            <br>
            <h3>Telefone:</h3>
            <p>(11) 5225-5225</p>
        </div>
    </section>

    <section>
        <div class="map">
            <img src="/images/img-footer/map.png" alt="map" width="200" height=190px">
        </div>
    </section>

    <section>
        <div class="social-networks">
           <h2>Redes Sociais</h2>
        </div>  
    </section>
    
    
    <section>
        <div class="logoFacebook">
           <img src="/images/img-footer/logoFacebook.png" alt="logoFacebook">
        </div>

        <div class="logoTwitter">
            <img src="/images/img-footer/logoTwitter.png" alt="logoTwitter">
        </div>

        <div class="logoInstagram">
            <img src="/images/img-footer/logoInstagram.png" alt="logoInstagram">
        </div>

        <div class="social-networks2">
          <p>Facebook</p>
          <p>Twitter</p>
          <p>Instagram</p>
        </div>
    </section>

    <section>
        <div class="newsL">
          <h3>Newsletter</h3>
          <br>
          <p>Lorem Ipsum is simply dummy text of the 
            printing and typesetting industry.
          </p>  
        </div>
    </section>

    <section>
        <div class="sending-email">
        <form action="resultado.html" method="POST">
            <label for="nome"> </label>
            <input type="text" name="nome" id="nome">
            <input type="submit" value="Enviar">
            </form>
    </section>


</footer>
</html>