<footer class="baseboard" >
    <div class="footer-wrapper">
        <section>
                <img class="logo-footer" src="/images/img-footer/logo.png" alt="logo">
        </section>
    
        <section>
            <div class="opening-hours">
                <h3>Horario de Funcionamento</h3>
                <p>Seg a Sex: 08:00 - 18:00</p>
                <p>Sab: 08:00 - 13:00</p>
                <br>
                <h3>Endereço:<h3>
                <p>Av Paulista - 1000 - São Paulo -SP</p>
                <h3>Email:</h3>
                <p>abc@abc.com</p>
                <br>
                <h3>Telefone:</h3>
                <p>(11) 5225-5225</p>
            </div>
        </section>
    
        <section>
            <div class="map">
                <img src="/images/img-footer/map.png" alt="map" width="200" height=190px">
            </div>
        </section>
    
        <section>
            <div class="social-networks">
               <h2>Redes Sociais</h2>
            </div>  
            
            <div class="logoFacebook">
               <img src="/images/img-footer/logoFacebook.png" alt="logoFacebook" width="20px" height="20px">
            </div>
    
            <div class="logoTwitter">
                <img src="/images/img-footer/logoTwitter.png" alt="logoTwitter" width="30px" height="30px">
            </div>
    
            <div class="logoInstagram">
                <img src="/images/img-footer/logoInstagram.png" alt="logoInstagram" width="35px" height="20px">
            </div>
    
            <div class="social-networks2">
              <p>Facebook</p>
              <p>Twitter</p>
              <p>Instagram</p>
            </div>
        </section>
    
        <section>
            <div class="newsL">
              <h3>Newsletter</h3>
              <br>
              <p>Lorem Ipsum is simply dummy text of the 
                printing and typesetting industry.
              </p>  
            </div>
        </section>
    
        <section class="sending-email">
            <form action="resultado.html" method="POST">
                <label for="nome"> </label>
                <input type="text" name="nome" id="nome">
                <input type="submit" value="Enviar">
            </form>
        </section>
    
    
    
    </div>
</footer>