<section class="header-nav">
            
    <div class="social-dois">
       <img class="logo-donto"src="/images/img-header/logo.png" alt="logo-odonto">        
   </div>
    
   <div class="categorias">
       <a href="#sobreNos">
           <p>Sobre nós</p>
       </a>
       <a href="#tratamento">
           <p>Tratamento</p>
       </a>
       <a href="#geral">
           <p>contato</p>
       </a>

   </div>

</section>