<section class="wrapper-nav">
    <div class="header-nav">
   <div class="social-dois">
       <a href="/"><img class="logo-donto"src="/images/img-header/logo.png" alt="logo-odonto"></a>        
   </div>
    
   <div class="categorias">
       <a href="/#sobreNos">
           <p>SOBRE NÓS</p>
       </a>
       <a href="/#tratamento">
           <p>TRATAMENTOS</p>
       </a>
       <a href="/#geral">
           <p>CONTATOS</p>
       </a>
   </div>
   </div>
</section>