<section class="header-nav">
            
    <div class="social-dois">
       <a href="/"><img class="logo-donto"src="/images/img-header/logo.png" alt="logo-odonto"></a>        
   </div>
    
   <div class="categorias">
       <a href="/#sobreNos">
           <p>Sobre nós</p>
       </a>
       <a href="/#tratamento">
           <p>Tratamentos</p>
       </a>
       <a href="/#geral">
           <p>Contato</p>
       </a>
   </div>

</section>