*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: "Poppins",serif;
}

.geral {
    background: #399ca98c;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 90%;
    padding: 20px 40px;
    border-radius: 20px;
    margin: 20px auto;
    justify-content: space-between;
}

.saudacao-admin{
    display: flex;
    width: 100%;
    height: 70px;
    background: #0096ff;
    align-items: center;
    max-width: 100%;
   
}
.saudacao-admin h4{
    margin-left: 50px;
}

/* Area de Busca */
.area-buscar-paciente{
    display: flex;
    margin-top: 100px;
      
}
.busca{
    background-color: #0096ff;
    border: 1px solid gray;
    border-radius: 10px;
    width: 350px;
    height: 32px;
    
}
.busca input{
    border: none;
    height: 32px;
    border-radius: 10px;
    width: 172px;
    
}
.icone-busca{
    display: none;
}
.saudacao-admin button{
    height: 25px;
    width: 70px;
    border-radius: 5px;
    background: #0096ff; 
    cursor: pointer;
    border: solid 1px gray;
    margin-left: 10px;
    color: white;
}
.saudacao-admin button:hover{
    background-color: white;
    transition: 1s;
    color: gray;
    
}
#btnBusca{
    border: none;
    height: 30px;
    width: 92px;
    border-radius: 8.5px;
    background: #0096ff;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}
#btnBusca:hover{
    background-color: white;
    transition: 1s;
    color: gray;
}
#txtBusca{
    background: transparent;
    padding-left: 10px;
    height: 25px;
    width: 250px;
    border-radius: 10px;
    border: none;
    
}


.area-pacientes{
    margin-top: 20px;
    width: 350px;
    border-radius: 10px;

}
.busca input{
    background: none;
    border: none;
}

.butoes-pacientes{
    display: flex;
    justify-content: center;
    height: 20px;
    gap: 20px;
    margin-top: 10px;
}
.butoes-pacientes button{
    background: #0096ff;
    height: 25px;
    border-radius: 5px;
    width: 80px;
    cursor: pointer;
    border: solid 1px #1CBACF;
    color: white;
}

.butoes-pacientes button:hover{
    background-color: white;
    transition: 1s;
    color: gray;
}


/* calendario e historico */

.calendario-historico{
    margin-top: 50px;
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
    /* justify-content: space-between; */
    max-width: 90%;
    flex-wrap: wrap;
    
}
.historico, .calendario{
    color: white;
}

.butoes-agendamento{
    display: flex;
    height: 20px;
    margin-left: 40px;
    gap: 20px;  
    margin-top: 10px;
}
.butoes-agendamento button{
    background: #0096ff;
    height: 25px;
    border-radius: 5px;
    width: 130px;
    cursor: pointer;
    border: solid 1px #1CBACF;
    color: white;
}
.butoes-agendamento button:hover{
    background-color: white;
    transition: 1s;
    color: gray;
}

.historico-consulta {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}



/* responsividade */

@media(max-width:960px){
    .geral{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .calendario-historico{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .historico-consulta{
        margin-top: 30px;
    }

}

@media(max-width:768px){
    .geral{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .calendario-historico{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .historico-consulta{
        margin-top: 30px;
    }
}

@media(max-width:560px){
    .geral{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .calendario-historico{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .historico-consulta{
        margin-top: 30px;
        
    }
    .calendar{
        max-width: 90%;
    }
    .butoes-agendamento button{
        height: 30px;
        align-items: center;
        justify-content: center;
        font-size: 12px;
       
    }
    .calendario h3{
        text-align: center;
    }
    .historico h3{
        text-align: center;
    }
   
    
}



@media(max-width:480px){
    .geral{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .calendario-historico{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .historico-consulta{
        margin-top: 30px;
        max-width: 100%;
        
    }
    .calendar{
        max-width: 90%;
    }
    .butoes-agendamento button{
        height: 30px;
        font-size: 12px;
        
    }
    
}


@media(max-width:420px){
    .geral{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 90%;
    }
    .calendario-historico{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .historico-consulta{
        margin-top: 30px;
        max-width: 100%;
        
    }
    .calendar{
        max-width: 90%;
    }
    .butoes-agendamento button{
        height: 30px;
        font-size: 12px;
        
    }
    .busca{
        max-width: 90%;
        
    }
    #btnBusca{
        width: 57px;
        font-size: 10px;
    }
}


