<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/header-nav.css">
    <link rel="stylesheet" href="/stylesheets/agendamento.css">
    <title>Agendamento</title>
</head>

<body>
    <%-include('./partials/header')%>
        <main>
            <div class="campo-nome-botao">
                <span class="usuario-logado">Olá, <%= nome %></span>
                <a href="/agendamento/sair" class="botao-sair">Sair</a>
            </div>
            <div class="campo-acoes">
                <span class="titulo-acao">Selecione a ação que deseja executar:</span>
            <span class="acoes">Ações para agendamentos:</span>
            <ul>
                <li><a href="/agendamento/agendar">Agendar consulta</a></li>
                <li><a href="/agendamento/usuarios">Verificar agendamento por usuário</a></li>
            </ul>
            <span class="acoes">Ações para Usuários:</span>
            <ul>
                <li><a href="/cadastro">Criar usuário</a></li>
                <li><a href="/cadastro/todos">Alterar usuário</a></li>
            </ul>
            <span class="acoes">Ações para Procedimentos:</span>
            <ul>
                <li><a href="/procedimento">Criar procedimento</a></li>
                <li><a href="/procedimento/lista">Alterar procedimento</a></li>
            </ul>
            </div>            
        </main>
</body>

</html>