<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/cadastro.css">
    <link rel="stylesheet" href="/stylesheets/hedaer-nav.css">

</head>
<body>  
    <%-include('./partials/header')%>
    
    <form class="form-cadastro" method="">
        <span class="span-cadastro">Cadastre-se para agendar sua consulta</span>
        <div class="campo-cadastro">
            <div class='coluna-esquerda-cadastro'>
                <div class="email-senha-div">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email">
                </div>
                <div class="div-comum-cadastro">
                    <label for="nome">Nome</label>
                    <input type="text" name="nome" id="nome">
                </div>
                <div class="div-comum-cadastro">
                    <label for="sobrenome">Sobrenome</label>
                    <input type="text" id="sobrenome">
                </div>
                <div class="div-comum-cadastro">
                    <label for="sexo">Sexo</label>
                    <select name="genero" id="sexo">
                        <option value="masculino">masculino</option>
                        <option value="feminino">feminino</option>
                        <option value="nao-informar">Não informar</option>
                    </select>
                </div>               
                <div class="div-comum-cadastro">
                    <label for="cpf">CPF</label>
                    <input type="number" id="cpf">
                </div>
                <div class="div-comum-cadastro">
                    <label for="tel">Telefone</label>
                    <input type="tel" id="tel">
                </div>
                <div class="div-comum-cadastro">
                    <label for="celular">Celular</label>
                    <input type="tel" id="celular">
                </div>
                <div class="div-comum-cadastro">
                    <label for="nascimento">Data de nascimento</label>
                    <input type="date" id="nascimento">
                </div>
            </div>
            <div class="coluna-direita-cadastro">
                <div class="email-senha-div">
                    <label for="senha">Senha</label>
                    <input type="password" id="senha">
                </div>
                <div class="div-comum-cadastro">
                    <label for="cep">CEP</label>
                    <input type="number" id="cep">
                </div>
                <div class="div-comum-cadastro">
                    <label for="endereco">Endereço</label>
                    <input type="text" id="endereco">
                </div>
                <div class="div-comum-cadastro">
                    <label for="numero">Número</label>
                    <input type="number" id="numero">
                </div>
                <div class="div-comum-cadastro">
                    <label for="complemento">Complemento</label>
                    <input type="text" id="complemento">
                </div>
                <div class="div-comum-cadastro">
                    <label for="bairro">Bairro</label>
                    <input type="text" id="bairro">
                </div>
                <div class="div-comum-cadastro">
                    <label for="cidade">Cidade</label>
                    <input type="text" id="cidade">
                </div>
                <div class="div-comum-cadastro">
                    <label for="estado">Estado</label>
                    <select name="estado" id="estado">
                        <option value="acre">AC</option>
                        <option value="alagoas">AL</option>
                        <option value="">AC</option>
                        <option value="amapa">AP</option>
                        <option value="">AC</option>
                        <option value="amazonas">AM</option>
                        <option value="">AC</option>
                        <option value="bahia">BA</option>
                    </select>
                </div>
            </div>
        </div>
        <button class="button-cadastro" type="submit">ENVIAR</button>
    </form>    
</body>
</html>