<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/header-social.css">
    <link rel="stylesheet" href="/stylesheets/hedaer-nav.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    

    <script src="https://kit.fontawesome.com/1896b953fd.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;600&display=swap" rel="stylesheet">
    
    <title>Odonto Clean</title>
</head>
<body>
    <header>
        <section class="header-menu">
            
            <div class="social">
                <img src="images/img-header/instagram.png" alt="logo-insta" class="icones">
                <img src="/images/img-header/face.png" alt="logo-face" class="icones">
                <img src="/images/img-header/twitter.png" alt="logo-twitter" class="icones" id="logo-twitter">
                           
            </div>
            
            <div class="agendamento">
            <p>AGENDAMENTO</p>
            <button class="btn-agendamento">ENTRAR</button>
            <button class="btn-agendamento ">CADASTRE-SE</button>
            </div>

        </section>
       <%-include('./partials/header')%>
    </header>

    <!-- BANNER PRINCIPAL -->
        <section class="banner">
            <a href="https://api.whatsapp.com/send?phone=+55 75 983132493"><img src="/images/img-corpo/icone-wpp.png" alt="" class="icone-wpp" id="efeito"></a>
    
        <img src="/images/img-corpo/bannerPrincipal.jpeg" class="bannerPrincipal" alt="Banner pessoa sorrindo">
        </section>
             
<!-- PRIMEIRO CARROSSEL -->
        
<section class="sobreNos" id="sobreNos">
            <h2>SOBRE NÓS</h2>  
    <section class="imagens">
       
        <div class="imgCarrosel">
        <img src="/images/img-corpo/carrosel1.png" alt="" class="imagemCarrossel"> <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, delectus laboriosam! Magni nemo eligendi eius non tempore id, repellendus cupiditate, voluptatem quibusdam .</p>
        </div>
        
        <div class="imgCarrosel" >
        <img src="/images/img-corpo/carrosel2.png" alt="" class="imagemCarrossel"> <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, delectus laboriosam! Magni nemo eligendi eius non tempore id, repellendus cupiditate, voluptatem quibusdam .</p>
    </div>
        <div class="imgCarrosel">
        <img src="/images/img-corpo/carrosel3.jpeg" alt="" class="imagemCarrossel"> <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, delectus laboriosam! Magni nemo eligendi eius non tempore id, repellendus cupiditate, voluptatem quibusdam .</p>    
    </div>
        <div class="imgCarrosel">
        <img src="/images/img-corpo/carrosel4.jpeg" alt="" class="imagemCarrossel"> <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, delectus laboriosam! Magni nemo eligendi eius non tempore id, repellendus cupiditate, voluptatem quibusdam .</p>   
    </div>
    </section>
        </section>

        <!-- SEGUNDO CARROSSEL -->

        
        <section class="tratamento" id="tratamento">
            <h2>TRATAMENTO</h2>  
    <section class="imagensCarrossel2">
        <div class="imgCarrosel2">
        <img src="/images/img-corpo/segundoCarrossel1.png" alt="" class="imgSegCarrosel"> <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, delectus laboriosam! Magni nemo eligendi eius non tempore id, repellendus cupiditate, voluptatem quibusdam .</p>
        </div>
        <div class="imgCarrosel" >
        <img src="/images/img-corpo/segundoCarrossel2.png" alt="" class="imgSegCarrosel"> <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, delectus laboriosam! Magni nemo eligendi eius non tempore id, repellendus cupiditate, voluptatem quibusdam .</p>
    </div>
        <div class="imgCarrosel">
        <img src="/images/img-corpo/segundoCarrossel3.png" alt="" class="imgSegCarrosel"> <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, delectus laboriosam! Magni nemo eligendi eius non tempore id, repellendus cupiditate, voluptatem quibusdam .</p>    
    </div>
        <div class="imgCarrosel">
        <img src="/images/img-corpo/segundoCarrossel4.png" alt="" class="imgSegCarrosel"> <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, delectus laboriosam! Magni nemo eligendi eius non tempore id, repellendus cupiditate, voluptatem quibusdam .</p>   
    </div>
    </section>
        </section>

        <!-- CONTATO -->

        <section class="geral" id="geral">
   
            <form action="" method="POST" class="contato" id="contato">
                
                <h2>Contato</h2>
                
                <div>
                    <label for="nomeCompleto">Nome Completo</label><br>
                    <input type="text" name="nomeCompleto" id="nomeCompleto">
                </div>
                
                <div>
                    <label for="email">e-mail</label> <br>
                    <input type="email" name="email" id="email"><br>
                </div>
                
                <div>
                    <label for="assunto">Assunto</label><br>
                    <input type="text" name="assunto" id="assunto"> <br> 
                </div>
                
                <div>
                    <label for="mensagem">Mensagem</label><br>
                    <textarea name="mensagem" id="mensagem" cols="30" rows="10"></textarea> <br>
                </div>

                <div class="butaoEnviar">
                   <label for="enviar"></label>
                   <input type="submit" value="Enviar" id="enviar" >
               </div>
               
                
            </form>
        </section>
        <%-include('./partials/footer')%> 
</body>




</html>