<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <script src="https://kit.fontawesome.com/1896b953fd.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;600&display=swap" rel="stylesheet">
    
    <title>Odonto Clean</title>
</head>
<body>
    <header>
        <section class="header-menu">
            
            <div class="social">
                <img src="images/img-header/instagram.png" alt="logo-insta" class="icones">
                <img src="/images/img-header/face.png" alt="logo-face" class="icones">
                <img src="/images/img-header/twitter.png" alt="logo-twitter" class="icones" id="logo-twitter">
                           
            </div>
            
            <div class="agendamento">
            <p>AGENDAMENTO</p>
            <button class="btn-agendamento">ENTRAR</button>
            <button class="btn-agendamento ">CADASTRE-SE</button>
            </div>

        </section>
        <section class="header-nav">
            
             <div class="social-dois">
                <img class="logo-donto"src="/images/img-header/logo.png" alt="logo-odonto">        
            </div>
             
            <div class="categorias">
                <p>Sobre nós</p>
                <p>Tratamento</p>
                <p>contato</p>

            </div>

        </section>
    </header>
    <script src="https://kit.fontawesome.com/efec101eb5.js" crossorigin="anonymous"></script>    
</body>

<%-include('./partials/footer')%>

</html>