<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Olá, mundo!</h1>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h3>Testtando o github</h3>
    <h2>Meu nome é kleber</h2>
  </body>
</html>
