<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <script src="https://kit.fontawesome.com/8be7efac32.js" crossorigin="anonymous"></script>
  </head>
  <body>
      <section class="content-login">
        <div class="tela-logo">
          <div class="tela-logo1">
            <!-- <h2 class="text-logo">Odonto Clean</h2> -->
            <img src="/images/img-login/logo.png" alt="Logo" class="login-img-login">
            <div class="cadastro">
            <h1>Faça seu cadastro <br>em nosso site.</h1>
            </div>
          </div>
        </div>
        <div class="login-form">
          <form action="" class="content-form">
            <div>
              <label for="email" class="icon-email"><i class="fa-solid fa-envelope"></i></label>
            <input type="email" name="email" id="email" class="campo-email" placeholder="E-mail">
            </div>
            <div>
              <label for="senha" class="icon-senha"><i class="fa-solid fa-lock"></i></label>
              <input type="password" name="password" id="" class="campo-senha" placeholder="Senha">
            </div>
            <a href="" class="text-senha">Esqueci minha senha</a>
            <button type="submit" class="button-enviar">Entrar</button>
            <div class="cadastrase">
              <h4 class="text-ncadastro">Não tem cadastro?</h4>
              <a href="" class="text-cadastrase">Cadastra-se aqui!!</a>
              
              </div>
              <div>
                <hr class="hr1"> <hr class="hr2">
              </div>
              <div class="content-social">
                <br>
                <p class="text-social"> Ou <br>Faça seu login:</p>
                <img src="/images/img-login/botao-face.png" alt="" class="button-image">
                <img src="/images/img-login/botao-google.png" alt="" class="button-image">
              </div>
          </form>
        </div>
      </section>
  </body>
</html>