@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",serif;
}

main {
    background: #399ca98c;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    padding: 20px 60px;
    border-radius: 20px;
    margin: 20px auto;
}

.nome-botao {
    margin-bottom: 40px;
}

.area-agendamento {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    gap: 100px;
}

ul {
    list-style-type: none;
}

.calendar {
    width: 390px;
}

/* Month header */
.month {
  padding: 15px 25px;
  width: 100%;
  background: #1CBACF;
  text-align: center;
  border-radius: 5px 5px 0 0;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 12.6%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 15px 0;
  background: #eee;
  margin: 0;
  border-radius: 0 0 5px 5px;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 12.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #1CBACF;
  color: white !important
}

.historico-consulta {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    text-align: center;
}

.historico-consulta span {
    color: white;
    margin-bottom: 20px;
}

.span-consulta-paciente {
    color: white;
}

.coluna-esquerda-consulta-paciente {
    display: flex;
    flex-direction: column;
    height: 350px;
}

.calendar {
    height: 300px;
}

.coluna-esquerda-consulta-paciente span {
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

#table-wrapper {
    width: 390px;
    font-size: 14px;
}

#table-scroll {
    height:300px;
    overflow: auto;
    overflow-x: hidden;  
    border: solid 1px white
}
  
#table-wrapper table {
    width:100%;
  
}

#table-wrapper table * {
    color:white;
    background-color: #1CBACF;
    padding: 1px;
}

.botoes-consulta-paciente {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.botao-consulta-paciente {
    font-size: 14px;
    color: white;
    border: solid 1px #1CBACF;
    border-radius: 5px;
    background-color: #1CBACF;
    padding: 2px 6px;
    cursor: pointer;
    transition: 500ms ease-in-out;
}

.botao-consulta-paciente:hover {
    color: #3e5ba5e3;
    background-color: white;
}

@media (max-width: 960px) {
    main {
        width: 768px;
    }

    .area-agendamento {
        flex-wrap: wrap;
        margin: 0 auto;
        gap: 0;
        justify-content: center;
    }

    .historico-consulta {
        margin: 30px 0 0;
    }

    .botoes-consulta-paciente {
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    main {
        width: 480px;
        padding: 20px 0 20px 0;
    }

    .nome-botao {
        margin-left: 70px;
    }

    .area-agendamento {       
        width: 480px;        
    }

    .coluna-esquerda-consulta-paciente {
        justify-content: center;
    }

    .historico-consulta {
        justify-content: center;
    }
}

@media (max-width: 480px) {

    main {
        width: 450px;
        margin: 20px auto;
        justify-content: center;
    }

    .nome-botao {
        margin-left: 25px;
    }

    .area-agendamento {
        width: 450px;
        margin: 0;
    }

    .botoes-consulta-paciente {
        width: 450px;
    }
}