@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

main {
    max-width: 600px;
    margin: 0 auto;    
}

.campo-nome-botao {
    margin: 20px 0;
}

.usuario-logado {
    font-size: 18px;
    color: #1CBACF;
}

.botao-sair {
    font-size: 18px;
    color: white;
    border: solid 1px #1CBACF;
    border-radius: 5px;
    background-color: #1CBACF;
    padding: 2px 6px;
    cursor: pointer;
    transition: 500ms ease-in-out;
}

.botao-sair:hover {
    color: #1CBACF;
    background-color: white;
}


.menu-inicial {
    font-size: 14px;
    color: white;
    border: solid 1px #1CBACF;
    border-radius: 5px;
    background-color: #1CBACF;
    padding: 2px 6px;
    cursor: pointer;
    transition: 500ms ease-in-out;
}

.menu-inicial:hover {
    color: #1CBACF;
    background-color: white;
}

#form-agendar-admin {
    display: flex;   
    flex-direction: column;
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px 0;
    background-color: #1CBACF;
    align-items: center;
}

#form-alterar-admin {
    display: flex;   
    flex-direction: column;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px 0;
    background-color: #1CBACF;
    align-items: center;
}

#form-alterar-admin div {
    display: flex;
    flex-direction: column;
}

.selecione-label {
    font-size: 18px;
    margin-bottom: 20px;
    color: white;
}

.selecione-input {
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    padding: 2px;
}



.botao-submit {
    font-size: 16px;
    border: 2px solid #1CBACF ;
    background-color: white;
    color: #1CBACF;
    border-radius: 5px;
    padding: 2px;
    transition: 500ms ease-in-out;
    cursor: pointer;
}

.botao-submit:hover {
    border: 2px solid white ;
    background-color: #1CBACF;
    color: white;
}



