@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 0 auto;
    color: white;
}

ul {
    display: flex;
    flex-direction: column;
    width: 300px;
}

li {
    display: flex;
    border: 2px solid white;
    border-radius: 10px;
    margin: 5px 0;
    padding: 0 5px;
    cursor: pointer;
    justify-content: center;
}

li:hover {
    background-color: white;
    color: #1CBACF;
}

a {
    color: inherit;
}

.campo-acoes {
    background-color: #1CBACF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 60px 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.titulo-acao {
    margin-top: 10px;
    font-size: 24px;
    text-align: center;
}

.acoes {
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
}

.campo-nome-botao {
    margin-top: 20px;
}

.usuario-logado {
    color: #1CBACF;
}

.botao-sair {
    font-size: 14px;
    color: white;
    border: solid 1px #1CBACF;
    border-radius: 5px;
    background-color: #1CBACF;
    padding: 2px 6px;
    cursor: pointer;
    transition: 500ms ease-in-out;
}

.botao-sair:hover {
    color: #1CBACF;
    background-color: white;
}

.area-agendamento {
    background-color: #1CBACF;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;

}

#form-agendamento {
    background-color: #1CBACF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

#form-agendamento select,
input {
    height: 25px;
    border-radius: 5px;
}

#form-agendamento button {
    height: 25px;
    border: 2px solid white;
    background-color: white;
    color: #1CBACF;
    border-radius: 5px;
    padding: 0 5px;
    cursor: pointer;
    transition: 500ms ease-in-out;
}

#form-agendamento button:hover {
    background-color: #1CBACF;
    color: white;
    height: 25px;
    border-radius: 5px;
    padding: 0 5px;
    cursor: pointer;
}



.prontuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-top: 2px white solid;
    margin: 10px 0;
    padding-top: 10px;
}

table {
    table-layout: fixed;
    border-radius: 10px;
    border-collapse: separate;
    font-size: 16px;
}

th,
td {
    padding: 0 5px;

}

td {
    text-align: center;
    vertical-align: top;
}



thead tr {
    color: #1CBACF;
    background-color: white;
}



tbody tr {
    color: #1CBACF;
    background-color: white;


}

tbody tr td:nth-child(5) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    gap: 5px;
}

.td-acoes {
    display: flex;
    gap: 5px;
    padding: 5px;
}

.botao-alterar, .botao-cancelar {
    display: flex;
    height: 25px;
    border: 2px solid #1CBACF;
    background-color: white;
    color: #1CBACF;
    margin-top: 1px;
    font-size: 16px;
    border-radius: 5px;
    padding: 0 5px;
    cursor: pointer;
    transition: 500ms ease-in-out;
}

.botao-alterar:hover {
    background-color: #1CBACF;
    color: white;
    height: 25px;
    border-radius: 5px;
    padding: 0 5px;
    cursor: pointer;
}

.botao-cancelar:hover {
    background-color: #1CBACF;
    color: white;
    height: 25px;
    border-radius: 5px;
    padding: 0 5px;
    cursor: pointer;
}

@media (max-width: 700px){
    .campo-acoes {
        margin-left: 10px;
        margin-right: 10px;
    }
}