.baseboard{
   background-color: #1CBACF;
   font-family: 'Poppins', sans-serif;
}

.footer-wrapper {
   max-width: 1024px;
   margin: 0 auto;
   display: flex;
   padding: 10px 0;
   align-items: center;
   justify-content: space-between;
   gap: 10px;
}

.logo-footer{
   height: 100px;
  }

.opening-hours{
   /* Horario de Funcionamento */
   
   font-family: Poppins;
   font-style:normal;
   font-weight: 600;
   font-size: 14px;
   line-height: 21px;

   color: #FFFFFF;
  }



.map{
   /* Localizacao 1 */
   background: url(Localizacao.jpg);

}
.social-networks{
   /* Redes Sociais */
   
   font-family: Poppins;
   font-style: normal;
   font-weight: normal;
   font-size: 15px;
   line-height: 30px;

   color: #FFFFFF;


}
.social-networks2{
   /* Facebook */
   /* Twitter */
   /* Instagran */

   font-family: Poppins;
   font-style: normal;
   font-weight: 600;
   font-size: 14px;
   line-height: 29px;

   color: #FFFFFF;
}

.logoFacebook{
   
}

.logoTwitter{

}

.logoInstagram{
}

.newsL{
   /* Newsletter Lorem Ipsum is simply dummy text of the printing 
   and typesetting industry. */
   display: none;
   font-family: Poppins;
   font-style: normal;
   font-weight: 600;
   font-size: 19px;
   line-height: 29px;

   color: #FFFFFF;
}

.sending-email{
   display: none;
}