.baseboard{
   background-color: #1CBACF;
   font-family: 'Poppins', sans-serif;
}

.footer-wrapper {
   max-width: 1024px;
   margin: 0 auto;
   display: flex;
   padding: 10px 0;
   align-items: center;
   justify-content: space-between;
}

.logo-footer {
   height: 100px;
  }

.opening-hours p, h3 {
   /* Horario de Funcionamento */
   
   font-family: Poppins;
   font-style:normal;
   font-weight: 600;
   font-size: 14px;
   line-height: 21px;
   color: #FFFFFF;
}

.map{
   /* Localizacao 1 */
   background: url(Localizacao.jpg);
   border-radius: 5px;
}

.social-media-footer h3 {
   font-family: Poppins;
   font-style:normal;
   font-weight: 600;
   font-size: 14px;
   line-height: 21px;

   color: #FFFFFF;
}

.social-media-footer {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.social-media-footer h3 {
   text-align: center;
}

.social-media-icons-footer {
   display: flex;
   gap: 5px;
}

.social-media-icon-background-footer {
   width: 45px;
   height: 45px;
   background-color: white;
   border-radius: 5px;
}