.baseboard{
   position:absolute;
	bottom:0;
	width:100%;
   justify-content: space-between;
   padding: 80px 35px;
   background-color: white;
   border: solid 1px #1CBACF;
   font-family: 'Poppins', sans-serif;
   font-weight: 600;
   background: #1CBACF;
}
.logo-footer{
   display: flex;
   justify-content: center;
  }

.opening-hours{
   /* Horario de Funcionamento */

   position: absolute;
   left: 2.68%;
   right: 76.75%;
   top: 10.34%;
   bottom: 86.3%;

   font-family: Poppins;
   font-style:normal;
   font-weight: 600;
   font-size: 14px;
   line-height: 21px;

   color: #FFFFFF;
  }



.map{
   /* Localizacao 1 */

   position: absolute;
   
   left: 405px;
   top: 45px;

   background: url(Localizacao.jpg);

}
.social-networks{
   /* Redes Sociais */

   position: absolute;
   left: 58.61%;
   right: 31.07%;
   top: 10.34%;
   bottom: 78.28%;

   font-family: Poppins;
   font-style: normal;
   font-weight: normal;
   font-size: 15px;
   line-height: 30px;

   color: #FFFFFF;


}
.social-networks2{
   /* Facebook */
   /* Twitter */
   /* Instagran */

   position: absolute;
   left: 62.7%;
   right: 27.77%;
   top: 24.28%;
   bottom: 66.67%;

   font-family: Poppins;
   font-style: normal;
   font-weight: 600;
   font-size: 14px;
   line-height: 29px;

   color: #FFFFFF;


}
.logoFacebook{

position: absolute;
left: 60.39%;
right: 39.2%;
top: 25.81%;
bottom: 65.24%;
}

.logoTwitter{

position: absolute;
left: 60.12%;
right: 38.99%;
top: 33.60%;
bottom: 56.18%;


}

.logoInstagram{

position: absolute;
left: 60%;
right: 39.19%;
top: 45.12%;
bottom: 47.41%;

}

.newsL{
   /* Newsletter Lorem Ipsum is simply dummy text of the printing 
   and typesetting industry. */

position: absolute;
left: 77.36%;
right: 4.09%;
top: 10.34%;
bottom: 27.76%;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 29px;

color: #FFFFFF;


}

.sending-email{

position: absolute;
left: 77.32%;
right: 4.23%;
top: 60.81%;





box-sizing: border-box;


}