@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;600&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins",serif;
}

.wrapper-nav {
    background-color: #1CBACF;
    height: 120px; 
}

.header-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1024px;
    margin: 0 auto;
}

.header-nav a{
    color: white;
}

.logo-donto{
   height: 120px;
}


.categorias{
    display: flex;
    gap: 64px;
    color: white;
}

.categorias p {
    font-size: 20px;
    font-weight: 500;
}

.categorias p:hover {
    text-decoration: underline;
}

@media(max-width: 960px){
    .header-nav{
     padding-right:30px;
    }

    .map{
       display: none;
    }

    /* .logo-footer{
        display:none;
    } */
.logo-um{
    display:none;
}









@media(max-width: 480px){
.wrapper-nav{
    justify-content: space-between;
    align-items: center;
}

    .social-dois{
        display: none;
    }

    .categorias{
        display: block;
        align-items: center;
        flex-direction: row;
        
    }
}
}