@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;600&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins",serif;
}

.header-nav{
    height: 100px; /* fixei a altura do header */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 150px; /*padding alterado */
    /* height: 80px; */
    background-color: #1CBACF;

}

.header-nav a{
    color: white;
}

.logo-donto{
    /* width: 100%; */
    height: 100px;
}

/* .social-dois{
    width: 195px;
    height: px;
}
 */


.categorias{
    display: flex;
    /* justify-content: center; */
    gap: 100px; /* gap aumentado para 100px */
    /* width: 100%; */
    /* height: 50px; */
    font-weight: bold;
    color: white;
}

.categorias p:hover {
    text-decoration: underline;
}