@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", serif;
}

.agendamento p {
    font-size: 15px;
    font-weight: 500;
}

/* Inicio corpo */

.main-index {
    max-width: 1024px;
    margin: 0 auto;
}

/* Banner principal */

.banner{
    height: 400px;   
}

.icone-wpp{
    width: 70px;
    position: fixed;
    bottom: 25px;
    right: 25px;
}

/* carrossel 1  */
.sobreNos {
    display: flex;
    flex-direction: column;
    height: 650px;
    margin-top: 25px;
    padding: 25px 0;
}

.sobreNos h2{
    color: #1CBACF;
    text-align: center;
    margin-bottom: 20px;
}

.span-sobre-nos {
    color: #1CBACF;
    font-size: 20px;
    margin-bottom: 10px;
}

.sobreNos p{
    color: #1CBACF;
    font-size: 13px;
    text-align:center;
}
.carrossel {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.carrossel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.imagemCarrossel {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}


/* SEGUNDO CARROSSEL */

.tratamento {
    display: flex;
    flex-direction: column;
    background-color: #1CBACF;
    margin-top: 25px;
    margin-bottom: 70px;
    padding: 25px 0;
}

.tratamento h2 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.span-tratamento {
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}

.tratamento p {
    color: white;
    font-size: 13px;
    text-align: center;
}

/* CONTATO */

.contato {
    display: flex;
    background-color: #1CBACF;
    width: 1024px;
    border-bottom: solid 1px white;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.contato h2 {
  text-align: center;
  color: white;
  
}

.contato label {
    color: white;
}

.contato input {
    height: 30px;
    border: none;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;   
}

#nomeCompleto,#email{
    width: 300px;
}

#assunto{
    width: 652px;
}

.contato textarea{
    height: 60px;
    width: 652px;
    border: none;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.botaoEnviar {
    width: 100px;
    height: 30px;
    cursor: pointer;
    color: white;
    background-color: #3e5ba5e3;
    border: solid 1px #1CBACF;
    border-radius: 5px;
    padding: 5px;
    font-weight: 600;
    font-size: 11px;
    transition: 250ms ease-in-out;
}

.botaoEnviar:hover {
    background-color: white;
    border: solid 1px #3e5ba5e3;
    color: #3e5ba5e3; 
}


/* EFEITO DO ICONE WHATSAPP */

@keyframes bounce{
    0%, 20%,80%, 100%{
        -webkit-transform: translateY(0);
         transform: translateY(0);
    }
    40%{
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);  
    }
    60%{
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);  
    }
}


    #efeito:hover{
        animation: bounce 1s;
    }