@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* width: 1440px; */
    /* height: 800px; */
    background-color: #1cbacf;
}

.content-login {
    display: flex;
}
.tela-logo {
    width: 57%;
    max-width: 777px;
    /* height: 840px; */
    background-color: #1cbacf;
}
.tela-logo1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 90px;
}
.tela-logo1 .text-logo {
    margin-top: 50px;
    font-family: 'Poppins';
    color: #ffffff;
}
.login-img-login {
    width: 400px;
    height: 265px; 
    /* margin-top: 200px;  */
}
.cadastro {
    display: flex;
}
h1 {
    font-family: 'Poppins';
    text-align: center;
    font-size: 40px;
}
    
.login-form {
    background-color: #399ca98c;
    width: 460px;
    /* height: 840px; */
    /* background-color: #1cbacf; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    margin-top: 45px;
    margin-right: 70px;
    color: wheat;
    border-color: #399ca98c;
    border-radius: 20px;
}
.content-form {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    
}
.icon-email {
    position: absolute;
    left: 859px;
    top: 109px;
    color: black;
    font-size: 13px;
    transition: 200ms #3e5ba5e3;

}
.icon-email:hover {
    color: #1cbacf;
}

.icon-senha {
    position: absolute;
    left: 859px;
    top: 178px;
    color: black;
    font-size: 13px;
    transition: 200ms #3e5ba5e3;
}
.icon-senha:hover{
    color: #1cbacf;
}
.campo-email {
    width: 320px;
    height: 38px;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 14px 36px;
    transition: 500ms ease-in-out;

}

.campo-email:hover{
    border: 1px solid #3e5ba5e3;

}
.campo-senha {
    width: 320px;
    height: 38px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 14px 36px;
}
.campo-senha:hover {
    border: 1px solid #3e5ba5e3;
}
.text-senha {
    margin-bottom: 30px;
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 13px;
    font-weight: bold;
}
.button-enviar {
    width: 320px;
    height: 45px;
    border-radius: 5px;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Poppins';
    text-transform: uppercase;
    background-color: #3e5ba5e3;
    cursor: pointer;
    transition: transform 200ms linear;
}
.button-enviar:hover {
    transform: scale(1.03);
}
.cadastrase {
    display: flex;
    gap: 7px;
    justify-content: center;
    align-items: center;
}
.text-ncadastro {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: normal;
}
.text-cadastrase {
    text-decoration: none;
    font-weight: bold;
    font-family: 'Poppins';
    font-size: 11px;
}
.hr1 {
    position: absolute;
    width: 110px;
    height: 2px;
    background: #3e5ba5e3;
    bottom: 255px;
    left: 856px;
    
}

.hr2 {
    position: absolute;
    width: 110px;
    height: 2px;
    background: #3e5ba5e3;
    bottom: 255px;
    left: 1056px;
    

}

.content-social {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.text-social {
    font-family: 'Poppins';
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.button-image {
    width: 250px;
    margin-top: 3px;
    cursor: pointer;
    transition: transform 200ms linear;
}
.button-image:hover {
    transform: scale(1.03);
}