@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

main {
    max-width: 600px;
    margin: 20px auto 0;
    color: white;

}

.campo-nome-botao {
    margin-bottom: 20px;
}

.usuario-logado {
    color: #1CBACF;
}

.botao-sair {
    font-size: 14px;
    color: white;
    border: solid 1px #1CBACF;
    border-radius: 5px;
    background-color: #1CBACF;
    padding: 2px 6px;
    cursor: pointer;
    transition: 500ms ease-in-out;
}

.botao-sair:hover {
    color: #1CBACF;
    background-color: white;
}

.menu-inicial {
    font-size: 14px;
    color: white;
    border: solid 1px #1CBACF;
    border-radius: 5px;
    background-color: #1CBACF;
    padding: 2px 6px;
    cursor: pointer;
    transition: 500ms ease-in-out;
}

.menu-inicial:hover {
    color: #1CBACF;
    background-color: white;
}

.campo-acoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1CBACF;
    border-radius: 10px;
    color: white;
    margin: 20px 0;
    padding: 10px 0 20px;
}

.nome-cliente {
    font-size: 20px;
    margin-bottom: 10px;
}

table {
    table-layout: fixed;
    border-radius: 10px;
    border-collapse: separate;
}

th, td {
    padding: 4px;
}


thead tr {
    color: #1CBACF;
    background-color: white;    
}



tbody tr {
    color: #1CBACF;
    background-color: white;   

     
}

tbody tr td:nth-child(even) {
    display: flex;
    justify-content: center;    
    gap: 5px;
}

.botao-alterar, .botao-cancelar {
    font-size: 16px;
    text-decoration: none;
    color: white;
    border: 2px solid #1CBACF;
    border-radius: 10px;
    padding: 2px;
    background-color: #1CBACF;
    transition: 500ms ease-in-out;
    cursor: pointer;
}

.botao-alterar:hover {   
    color: #1CBACF;
    background-color: white;   
}

.botao-cancelar:hover {   
    color: #1CBACF;
    background-color: white;   
}

@media (max-width: 620px) {
    main {
        margin: 20px 10px;
    }
}

@media (max-width: 510px){
    table {
        font-size: 14px;
    }
}

