<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela do Administrador</title>
    <link rel="stylesheet" href="/stylesheets/administracao/admin.css">
    <link rel="stylesheet" href="/stylesheets/administracao/calendario.css">

</head>

<body>
   
<section class="saudacao-admin"> 
    <h4>Olá admin</h4>
    <button type="submit">Sair</button>
</section>

<main class="geral">
    
    <!-- Barra de Busca -->
    <section class="area-buscar-paciente">
        <form action="" method="post">
             <div class="busca">
            <input type="text" id="txtBusca" placeholder="Buscar Paciente...">
            <button id="btnBusca">Pesquisar</button>
        </div>
            <div class="area">
                <textarea name="lista-pacientes" id="" cols="30" rows="10" class="area-pacientes" placeholder="Falta saber se aqui sera text area ou tabela"></textarea>
            </div>
            <div class="butoes-pacientes">
                <button type="submit">Novo</button>
                <button type="submit">Editar</button>
                <button type="submit">Deletar</button>
            </div>
        </form>
        </section >
    
    
        <section class="calendario-historico">
    
    <div class="calendar">
        <span class="calendario"><h3>Calendario de Consultas</h3></span>
        <div class="month">
            <ul>
              <li class="prev">&#10094;</li>
              <li class="next">&#10095;</li>
              <li>August<br><span style="font-size:18px">2021</span></li>
            </ul>
          </div>
          
          <ul class="weekdays">
            <li>Seg</li>
            <li>Ter</li>
            <li>Qua</li>
            <li>Qui</li>
            <li>Sex</li>
            <li>Sab</li>
            <li>Dom</li>
          </ul>
          
          <ul class="days">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li><span class="active">10</span></li>
            <li>11</li>
            <li>12</li>
            <li>13</li>
            <li>14</li>
            <li>15</li>
            <li>16</li>
            <li>17</li>
            <li>18</li>
            <li>19</li>
            <li>20</li>
            <li>21</li>
            <li>22</li>
            <li>23</li>
            <li>24</li>
            <li>25</li>
            <li>26</li>
            <li>27</li>
            <li>28</li>
            <li>29</li>
            <li>30</li>
          </ul>
          <div class="butoes-agendamento">
            <button type="submit">Confirmar Consulta</button>
            <button type="submit">Reagendar Consulta</button>
            <button type="submit">Cancelar Consulta</button>
        </div>
    </div>
    
    <div class="historico-consulta">
        <span class="historico"><h3>Histórico de Consultas</h3></span>
        <img src="/images/img-admin/prontuario 1.png" alt="">
    </div>
        </section>
        
</main>
</body>

</html>