<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela do Administrador</title>
    <link rel="stylesheet" href="/stylesheets/adminstracao/admin.css">

</head>

<body>
<header>
    <h1>Aqui vai o header</h1>
<section class="saudacao-admin"> 
    <h4>Olá admin</h4>
    <button type="submit">Sair</button>
</section>

</header>

<main class="geral">
    
    <!-- Barra de Busca -->
    <section class="area-buscar-paciente">
        <form action="" method="post">
             <div class="busca">
            <input type="text" id="txtBusca" placeholder="Buscar Paciente...">
            <button id="btnBusca">Pesquisar</button>
        </div>
            <div class="area">
                <textarea name="lista-pacientes" id="" cols="30" rows="10" class="area-pacientes" placeholder="Falta saber se aqui sera text area ou tabela"></textarea>
            </div>
            <div class="butoes-pacientes">
                <button type="submit">Novo</button>
                <button type="submit">Editar</button>
                <button type="submit">Deletar</button>
            </div>
        </form>
        </section >
    
    
        <section class="calendario-historico">
    <div class="calendario">
        <h1>calendario de Consultas</h1>
    </div>
    <div class="hisorico">
        <h1>Historico de Consultas</h1>
    </div>
        </section>
        <div class="butoes-agendamento">
            <button type="submit">Novo</button>
            <button type="submit">Editar</button>
            <button type="submit">Deletar</button>
        </div>
</main>
</body>

</html>